<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/new.css" />

<main>
  <h3><%= title %></h3>

  <div class="table-container">
    <div class="table-wrapper">
      <div class="table-inset">
        <table>
          <thead>
            <th>ID</th>
            <th>Date</th>
            <th>Stress</th>
            <th>Sleep</th>
            <th>Exercise</th>
            <th>Edit</th>

            <!-- <% context.sugars.forEach( reading => { %>
            <th>Reading</th>
            <th>Edit</th>
            <% }); %> -->
          </thead>
          <tbody>
            <tr>
              <td class="long0id"><%= context._id %></td>
              <td><%= context.date %></td>
              <td><%= context.stress %></td>
              <td><%= context.sleep %></td>
              <td><%= context.exercise %></td>
              <!-- <% context.sugars.forEach( reading => { %> <% if (reading.reading)
              { %>
              <td><%= reading.reading %></td>
              <% }; %> <% }); %> -->
              <td>
                <a href="/contexts/<%= context._id %>/edit">Edit Context</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <h4>Sugar Records Belonging to This Context</h4>
    <div class="table-container">
    <div class="table-wrapper">
      <div class="table-inset">
        <table>
          <thead>
            <th>Reading</th>
            <th>Edit</th>
          </thead>
          <tbody>
              <% context.sugars.forEach( reading => { %> <% if (reading.reading)
              { %>
                <tr>
                  <td><%= reading.reading %></td>
                  <td>
                    <a href="/sugars/<%= reading._id %>/edit">Edit Reading</a>                  
                  </td>
                </tr>
              <% }; %> <% }); %>

          </tbody>


</main>
<%- include('../partials/footer') %>
