<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/new.css" />

<main>
  <h3><%= title %></h3>
  <!-- <div style="padding: 0 12px; width: 100%"> -->
  <div class="table-container">
    <div class="table-wrapper">
      <div class="table-inset">
        <table>
          <thead>
            <th style="padding-left: 32px">Reading</th>
            <th>Units</th>
            <th>Reading Type</th>
            <th>Details</th>
            <th style="padding-right: 32px">Delete Record</th>
          </thead>
          <tbody>
            <% sugars.forEach( sugar => { %>
            <tr class="<%= sugar._id %>">
              <td style="padding-left: 32px"><%= sugar.reading %></td>
              <td><%= sugar.units %></td>
              <td><%= sugar.readingType %></td>
              <td>
                <a href="/sugars/<%= sugar._id %>/">Detailed View</a>
              </td>
              <td
                class="remove"
                id="<%= sugar._id %>"
                style="padding-right: 32px"
              >
                Remove
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- </div> -->
</main>
<script src="/javascripts/delete.js"></script>
<%- include('../partials/footer') %>
